.imageList {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 100%;
  background-color: #00008b;
  color: #fff;
  margin: 0 15px;
  font-size: 4em;

  object-fit: cover;
  border-radius: 18px;
}

.top-right {
  position: absolute;
  top: 30px;
  right: 16px;
}

.bBYZBk {
  display: none;
}
.dWlPnY {
  display: none;
}
.cdeSzO {
  display: none;
}
.jUbbeb {
  display: none;
}
.dMoOCs {
  display: none;
}
.hpFpnV {
  margin-left: auto;
}

footer {
  position: relative;
  bottom: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  background-color: darkslategray;
  padding: 70px;
}

.footer-column {
  text-align: center;
}

footer .quick-links {
  font-size: 90%;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* 
.app {
  max-width: 60rem;
  width: 100%;
  background: lightgray;
  padding: 1rem;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 100%;
  min-height: 100vh;
  margin: 0 auto;
} */

.fixed-nav-bar {
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  background-color: #00a087;
}

.carousel {
  left: 0;
  right: 0;

  width: 100%;
}

header {
  /* height: 110vh;
  min-height: 400px; */
  background-size: cover;

  /* background-image: url("https://images.unsplash.com/photo-1470434151738-dc5f4474c239?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb"); */
}

.hidden-spacer {
  height: 56px;
}
